services:
  postgres:
    image: postgres:16-alpine
    container_name: nest_postgres
    restart: always

    env_file:
      - "./.env"

    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: nest_backend
    restart: always

    env_file:
      - "./.env"

    depends_on:
      - postgres

    ports:
      - "3000:3000"

volumes:
  postgres_data:
